@import "tailwindcss";

@theme {
  --background-hero-image: url("/hero-bg-2.png");
  --color-hero-color: #551482
}
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(7.8px);
  }
}

.mouse-scroll-btn::before {
  position: absolute;
  top: 4px;
  left: 3px;
  content: "";
  height: 6px;
  width: 6px;
  border: 2px solid #5F6168;
  border-radius: 50%;
  animation: scroll 1s infinite ease-in-out alternate;
}
.active{
  background-color:#162456;
  color: white;
  border-top-left-radius: 8px ;
  border-bottom-left-radius: 8px ;
  border: 0;
  box-shadow: -1px 1px 6px 0px #d8d1d1;
}
.active svg{
  color: white!important;
}
.navLink:hover svg {
  color: white!important;
  transition: 0.7s ease;
}
