*{
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "DINNextLTArabic-Regular-3", sans-serif; */
}

/* 
@font-face {
  font-family: "DINNextLTArabic-Regular-3";
  src: url("/fonts/DINNextLTArabic-Regular-3.ttf") format("DINNextLTArabic-Regular-3"),
       url("/fonts/DINNextLTArabic-Regular-3.ttf") format("DINNextLTArabic-Regular-3");
  font-weight: normal;
  font-style: normal;
} */